################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AppMetrics.NET472
/Api.AppMetrics.NET472/bin
/Api.AppMetrics.NET472/obj/Debug
/packages
/New.Api.AppMetrics.NET472/bin
/New.Api.AppMetrics.NET472/obj/Debug
/AppMetrics.NET472.Library/bin/Debug
/AppMetrics.NET472.Library/obj/Debug
